html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
.bold { font-weight: bold; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
:focus { outline: 0px none; }
:invalid { box-shadow: none; }
body { line-height: 1; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
ol, ul, li { list-style: outside none none; }
table { border-collapse: collapse; border-spacing: 0px; }
table td { vertical-align: top; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
.clear::after { clear: both; content: "."; display: block; height: 0px; visibility: hidden; }
a { color: rgb(0, 0, 0); }
a:hover { color: rgb(128, 29, 88); }
.smooth { transition-duration: 150ms; }
h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); }
p, .b-article-text li { color: rgb(51, 51, 51); font-size: 16px; line-height: 22px; margin: 0px 0px 25px; }
dl { font-size: 14px; line-height: 20px; }
dt { color: rgb(153, 153, 153); float: left; margin: 0px 5px 7px 0px; }
dd { color: rgb(51, 51, 51); clear: right; margin: 0px 0px 7px; }
body { background: transparent url('bg_pattern.gif') repeat scroll 0% 0%; color: rgb(51, 51, 51); font: 12px/14px Georgia,"Times New Roman",Times,serif; }
select, input, textarea { color: rgb(0, 0, 0); font: 12px Verdana,Geneva,sans-serif; }
.design { background: rgb(247, 247, 247) url('bg_shadow_line.gif') no-repeat scroll 0px bottom; padding: 0px 0px 16px; }
.design h2 { background: transparent url('bg_red_line_new.gif') no-repeat scroll 0px 0px; color: rgb(0, 0, 0); font-weight: bold; font-style: italic; font-size: 18px; line-height: 20px; padding: 20px 15px 13px; text-align: center; }
.design h2 a { text-decoration: none; }
.design h2 a:hover { text-decoration: underline; }
.comments, .meta-author .rating span { font-size: 10px; }
.comments, .meta-author .rating { background: transparent url('icon_comment.gif') no-repeat scroll 0px 4px; color: rgb(51, 51, 51); font-size: 12px; float: right; padding: 0px 0px 0px 18px; text-decoration: none; }
.shadow-form { background: transparent url('shadow_form.gif') repeat-x scroll center bottom; }
.copy { color: rgb(255, 255, 255); font-size: 12px; line-height: 16px; margin: 0px 0px 25px; width: 790px; }
.text {  }
.icon {  }
.last {  }
.b-head, .b-content, .b-footer { width: 100%; }
.b-head { position: relative; }
.b-center { width: 1016px; }
.b-wrapper { background: transparent url('bg_wrapper_nsh.png') repeat-y scroll 0% 0%; height: 170px; padding: 0px 8px; width: 1000px; }
.b-main { background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 173px; position: relative; }
.b-head .b-main, .b-content .b-main { background: rgb(255, 255, 255) url('bg_cube.png') no-repeat scroll 625px 47px; }
.b-themes { background: rgb(0, 0, 0) none repeat scroll 0% 0%; height: 27px; line-height: 27px; width: 1000px; }
.age-view { color: rgb(255, 255, 255); font-weight: bold; font-style: italic; font-size: 20px; float: right; line-height: 20px; margin: 3px 15px 0px 0px; }
.b-themes .title { border-right: 1px dotted rgb(91, 91, 91); color: rgb(137, 137, 137); font-size: 10px; font-weight: bold; float: left; margin: 0px 0px 0px 20px; padding: 0px 15px 0px 0px; }
.b-themes .links { float: left; }
.b-themes .links .item { border-right: 1px dotted rgb(91, 91, 91); float: left; padding: 0px 15px; }
.b-themes .links .item a { color: rgb(255, 255, 255); display: block; text-decoration: underline; }
.b-logo { overflow: hidden; position: absolute; top: 46px; left: 20px; }
.b-logo .spletnik { background: transparent url('logo_new.png') no-repeat scroll 0% 0%; display: block; height: 67px; text-indent: 200%; white-space: nowrap; width: 312px; }
.b-menu { border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(204, 204, 204); margin-top: 100px; width: 100%; }
.b-menu td { border-right: 1px solid rgb(204, 204, 204); }
.b-menu .item { color: rgb(0, 0, 0); display: block; font-size: 13px; padding: 14px 5px 13px; text-decoration: none; text-transform: uppercase; text-align: center; }
.b-menu .item:hover, .b-menu .active .item, .b-menu .current.item { background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.b-sub-menu { background: rgb(204, 204, 204) none repeat scroll 0% 0%; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); display: none; padding: 0px 4px 4px; border-top: 3px solid rgb(0, 0, 0); position: absolute; z-index: 100; }
.b-menu td:hover .b-sub-menu, .b-menu .active .b-sub-menu { display: block; }
.b-sub-menu .wrapper { border: 1px solid rgb(172, 172, 172); background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.b-sub-menu ul { float: left; }
.b-sub-menu ul a { font-size: 11px; text-transform: uppercase; display: block; border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(255, 255, 255) rgb(234, 234, 234) rgb(234, 234, 234) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 8px 19px 8px 17px; text-align: left; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.b-sub-menu ul a:hover, .b-sub-menu ul .active { color: rgb(0, 0, 0); background: rgb(255, 255, 255) url('bg_sub_menu2.jpg') repeat-y scroll 0% 0% ! important; border-right-color: rgb(255, 255, 255); border-top: 0px none; padding-top: 9px; }
.b-sub-menu .b-announc { float: right; margin: 0px 15px; width: 240px; }
.anons-news { height: 100%; }
.anons-news .item td { border: medium none; vertical-align: middle; padding: 10px 0px; }
.b-sub-menu .b-announc .item { border-top: 1px dotted rgb(213, 213, 213); display: table-row; overflow: hidden; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.b-sub-menu .b-announc .item:first-child { border-top: medium none; }
.b-sub-menu .b-announc .item img { float: left; }
.b-sub-menu .b-announc .item a { padding: 0px; }
.b-sub-menu .b-announc .item a:hover { color: rgb(0, 0, 0); }
.b-announc .item .text { display: block; font-size: 11px; line-height: 14px; margin: 0px 0px 0px 110px; text-transform: none; text-align: left; }
.b-auth { position: absolute; top: 73px; right: 20px; }
.b-auth .noauth { background: transparent url('icon_enter_exite.png') no-repeat scroll 0% 0%; height: 37px; margin: 0px 0px 30px 60px; overflow: hidden; width: 183px; }
.enter_login, .rokoko .regist-submit, .profile-but, .viewurl, .viewimg, .newpost .submit, .b-profile .submit, .user-agree-end a { background: transparent url('icon_enter_new.png') no-repeat scroll 0px 2px; color: rgb(255, 255, 255); display: block; font-weight: bold; font-size: 14px; float: left; height: 35px; line-height: 32px; margin: 1px 0px 0px 2px; text-align: center; text-decoration: none; width: 79px; }
.b-menu .b-search { border-right: medium none; padding: 0px; }
.registr { color: rgb(153, 153, 153); display: block; font-size: 12px; line-height: 32px; margin: 2px 0px 0px 90px; }
.b-search form { background: rgba(246, 246, 246, 0.5) none repeat scroll 0% 0%; display: block; }
.b-search .text { background: transparent none repeat scroll 0% 0%; border: medium none; color: rgb(0, 0, 0); font: 12px Verdana,Geneva,sans-serif; height: 15px; padding: 13px 5px 13px 15px; width: 68%; }
.b-search .submit { background: transparent url('search_icon.png') no-repeat scroll 0px 0px; border: medium none; cursor: pointer; display: block; float: right; height: 17px; margin: 10px 15px 0px 0px; padding: 0px; width: 21px; }
.b-content .b-wrapper, .b-content .b-main { height: auto; }
.b-content .b-main { background-position: 625px -126px; padding: 15px 20px 40px; }
.b-sidebar { background-color: transparent; float: left; margin: 0px 0px 0px 20px; width: 240px; }
.banner, .adv { margin: 0px 0px 20px; }
.b-poll, .b-best, .b-rating, .b-public, .b-also, .b-stars, .b-read, .b-readme { margin: 0px 0px 20px; overflow: hidden; position: relative; }
.b-best .item { border-bottom: 1px solid rgb(234, 234, 234); margin: 0px 0px 1px; }
.b-best .description { color: rgb(0, 0, 0); display: block; font-size: 14px; line-height: 18px; padding: 10px 10px 10px 20px; }
.b-best .description:hover { color: rgb(128, 29, 88); }
.b-best .photo { display: block; line-height: 0; position: relative; text-decoration: none; width: auto; }
.b-best .category { font: 14px Georgia,"Times New Roman",Times,serif; overflow: hidden; padding: 0px 10px 12px 20px; }
.b-best .category.last { padding-bottom: 15px; }
.b-best .high-live { color: rgb(151, 151, 151); line-height: 17px; float: left; width: 155px; }
.b-best.design h2 { border-bottom: 1px solid rgb(204, 204, 204); }
.b-rating.design, .b-public.design { background: transparent none repeat scroll 0% 0%; overflow: hidden; padding: 0px; }
.b-rating.design { background: rgb(247, 247, 247) none repeat scroll 0% 0%; padding: 0px 0px 10px; }
.b-public.design a { font-size: 13px; }
.b-public .widget { display: none; height: 252px ! important; }
.b-public .widget iframe { height: 252px ! important; }
.b-rating h2, .b-public h2, .b-stars h2, .b-read h2 { border-bottom: 1px solid rgb(204, 204, 204); font-style: normal; font-weight: bold; font-size: 18px; line-height: 18px; }
.b-rating h2 { border-bottom: 1px solid rgb(234, 234, 234); }
.toggle { height: auto; margin: 14px 0px; overflow: hidden; }
.toggle li { float: left; margin: 0px 2px 0px 0px; }
.toggle a { border-bottom: 1px dotted rgb(166, 166, 166); color: rgb(102, 102, 102); display: block; font-size: 14px; margin: 1px 9px; padding: 3px 0px 2px; line-height: 17px; text-decoration: none; }
.toggle .toggle_active { border-bottom: medium none; background: rgb(222, 71, 104) url('toggle_active2_new.jpg') repeat-y scroll 0% 0%; color: rgb(255, 255, 255); cursor: auto; margin: 0px; padding: 4px 9px; text-decoration: none; }
.b-rating .data { color: rgb(153, 153, 153); font: 11px Verdana,Geneva,sans-serif; margin: 12px 0px; padding: 0px 0px 12px; width: 100%; }
.b-rating .data td { padding: 3px 5px; vertical-align: middle; white-space: nowrap; }
.b-rating .data td.rating { padding-right: 10px; text-align: right; }
.b-rating .data td.num-user { padding-left: 20px; text-align: right; }
.b-rating .data img { vertical-align: middle; }
.b-rating .more { border-top: 1px solid rgb(234, 234, 234); padding: 15px 20px 0px; margin: 5px 0px; }
.b-rating .comments { background: transparent url('icon_comment2.png') no-repeat scroll 0px 2px; color: rgb(102, 102, 102); font-size: 11px; float: none; text-decoration: underline; }
.content { float: left; margin: 0px 0px 30px; width: 700px; }
.b-footer { margin: 0px; }
.b-footer .b-wrapper { height: auto; }
.b-footer .b-main { background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: auto; padding: 30px 20px 25px; }
.b-footer .b-main li { border-left: 1px dotted rgb(255, 255, 255); float: left; margin: 0px 0px 0px 16px; padding: 0px 0px 3px 16px; font-size: 15px; }
.b-footer .b-main li:first-child { border: medium none; margin: 0px; padding: 0px; }
.b-footer .b-main a { color: rgb(255, 255, 255); }
.internal .b-head .b-main, .internal .b-content .b-main { background-image: none; }
.step { border-bottom: 1px solid rgb(232, 232, 230); clear: both; overflow: hidden; margin: 0px 0px 0px -20px; padding: 0px 0px 15px 20px; line-height: 16px; }
.step li { background: transparent url('icon_step.png') no-repeat scroll right 60%; color: rgb(199, 61, 101); float: left; margin-right: 10px; padding-right: 4px; }
.step .current { background: transparent none repeat scroll 0% 0%; }
.step a { color: rgb(153, 153, 153); font-size: 11px; float: left; margin-right: 10px; text-decoration: none; }
.step a:hover { text-decoration: underline; }
.b-article-content { line-height: 1; margin: 0px 40px 30px; }
.b-meta { border-top: 1px dotted rgb(204, 204, 204); border-bottom: 1px dotted rgb(204, 204, 204); margin: 0px auto; padding: 8px 30px; line-height: 14px; height: 14px; font-size: 12px; overflow: hidden; white-space: nowrap; color: rgb(153, 153, 153); text-align: center; }
.b-meta li { display: inline; background: transparent url('round_red.gif') no-repeat scroll 16px 50%; padding-left: 46px; }
.b-meta li:first-child { background: transparent none repeat scroll 0% 0%; padding: 0px; }
.b-article-content h1 { color: rgb(0, 0, 0); font-weight: bold; font-size: 30px; line-height: 36px; margin: 20px 0px 25px; text-align: center; }
.b-article-text { position: relative; }
.b-article-text img { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(232, 232, 230); display: block; padding: 5px; margin: 0px 12px 0px 0px; }
.source-panel { border-width: 1px 2px 3px 1px; border-style: solid; border-color: rgb(235, 235, 233); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; top: 0px; left: 0px; right: 592px; width: 40px; background-color: rgb(255, 255, 255); margin-left: -53px; display: block;}
.source-panel li { margin: 12px; }
.source-panel a { background: transparent url('icon_source.png') no-repeat scroll 0% 0%; display: block; height: 16px; width: 16px; }
.source-panel .fb:hover { background-position: 0px -16px; }
.source-panel .vk:hover { background-position: 0px 0px; }
.source-panel .twtr:hover { background-position: 0px -32px; }
.source-panel .lj:hover { background-position: 0px -48px; }
.source-panel .panel-arrow { background: transparent url('source_panel_arrow.gif') no-repeat scroll 0% 0%; position: absolute; top: 28px; left: 40px; height: 18px; width: 12px; }
.source-panel .fb { background-position: 100% -16px; }
.source-panel .vk { background-position: 100% 0px; }
.source-panel .twtr { background-position: 100% -32px; }
.source-panel .lj { background-position: 100% -48px; }
.b-article-content p a { color: rgb(128, 29, 88); }
.b-info li::first-letter { text-transform: uppercase; }
.insert::before, .insert::after, .insert p:first-child::before { content: " "; position: absolute; background: transparent url('sprite_insert.png') no-repeat scroll 0% 0%; width: 34px; height: 30px; }
.insert::before { top: 18px; left: -18px; }
.insert::after { background-position: 0px -36px; right: -14px; bottom: 14px; }
.insert p:first-child::before, .insert_right p:first-child::before { background-position: 0px -77px; top: 55px; left: -30px; height: 43px; width: 34px; }
.insert_right p:first-child::before { background: transparent url('sprite_insert.png') no-repeat scroll 0px -120px; left: auto; right: -29px; }
.b-comments { margin: 20px 0px 40px; overflow: hidden; line-height: 1; }
.b-comments h3 { font-size: 18px; margin: 0px 0px 15px; }
.b-comments .comments { font-family: Verdana,Geneva,sans-serif; line-height: 18px; background-position: 0px 5px; }
.b-field-data { background: rgb(242, 242, 242) none repeat scroll 0% 0%; padding: 15px 20px; }
.b-field-data p, .b-field-data textarea { color: black; font: 14px/17px Verdana,Geneva,sans-serif; }
.b-field-data a { color: rgb(153, 153, 153); }
.b-field-data p { border-bottom: 1px solid rgb(255, 255, 255); padding: 0px 20px 15px; margin: 0px -20px 15px; }
.comment-user { padding: 0px; margin: 0px 0px 5px 200px; }
.comment-user .user-info, .replied-comments .comment-user.level2 .user-info { position: relative; height: 30px; }
.message-user .actions { font: 11px Verdana,Geneva,sans-serif; position: absolute; right: 0px; bottom: 4px; margin: 0px; text-transform: lowercase; overflow: hidden; }
.user-info .name { color: rgb(51, 51, 51); font-size: 12px; margin: 12px 0px 0px; float: left; }
.user-info .name:hover { background-color: transparent; color: rgb(102, 102, 102); }
.user-info .date, .replied-comments .comment-user.level2 .user-info .date { color: rgb(153, 153, 153); font-size: 11px; line-height: 11px; margin: 12px 0px 0px 25px; float: left; }
.comment-user .icon { display: block; position: absolute; top: 30px; z-index: 100; }
.message-user, .user-comments .replied-comments .message-user { background: rgb(242, 242, 242) none repeat scroll 0% 0%; padding: 4px 20px 18px; position: relative; margin-left: 40px; }
.message-user p { color: rgb(51, 51, 51); font-size: 14px; line-height: 22px; margin-bottom: 0px; }
.user-info .comment-rating { height: 19px; line-height: 20px; position: absolute; right: 0px; bottom: 2px; z-index: 100; }
.user-info .plus, .user-info .minus, .user-info .amount { background: rgb(242, 242, 242) none repeat scroll 0% 0%; color: black; font: 12px/12px Verdana,Geneva,sans-serif; padding: 2px 4px; text-decoration: none; }
.user-info .amount { background: rgb(242, 242, 242) none repeat scroll 0% 0%; border: medium none; padding: 2px 12px; }
.user-info span.plus, .comment-rating span.minus { color: rgb(204, 204, 204); }
.comment-user.level1 .message-user { background-color: rgb(242, 242, 242); }
.comment-user.level1 { margin-left: 0px; }
.comment-user.level2 { margin-left: 30px; }
.name-user {  }
.rokoko, .modern, .log_in { background: rgb(247, 247, 247) url('bg_red_line_big.gif') no-repeat scroll 0px 0px; float: left; padding: 20px 38px 0px; width: 334px; }
form dt, form dd { display: block; }
.log_in { background: transparent url('bg_pop_up.png') no-repeat scroll 0% 0%; float: none; padding: 16px 0px 0px; position: absolute; top: 113px; right: 20px; width: 410px; display: none; }
.log_in dl { background-color: rgb(247, 247, 247); border-bottom: 1px solid rgb(234, 234, 234); padding: 17px 39px; }
.log_in dt { float: none; }
.log_in dd { margin: 0px 0px 15px; }
.log_in input { border: 1px solid rgb(207, 207, 207); font: 12px/35px Georgia,"Times New Roman",Times,serif; height: 35px; padding: 0px 5px; width: 100%; }
.log_in .regist-submit { background: transparent none repeat scroll 0% 0%; float: none; margin: 0px; }
.log_in .regist-submit input { background: transparent url('but_add_search.png') no-repeat scroll 0% 0%; border: medium none; color: rgb(255, 255, 255); display: block; font-weight: bold; font-size: 14px; height: 34px; padding: 0px 0px 3px; margin: 0px auto; text-align: center; text-decoration: none; width: 89px; }
.log_in .no-accont { background: rgb(247, 247, 247) none repeat scroll 0px 0px; border-bottom: 1px solid rgb(234, 234, 234); font-size: 12px; line-height: 18px; margin: 0px; padding: 10px 0px; text-align: center; }
.log_in .no-accont a { color: rgb(122, 34, 129); }
.log_in .soc_auth .txt { color: rgb(153, 153, 153); font-size: 12px; line-height: 18px; padding: 15px 39px; margin: 0px; }
.log_in .soc_auth { background: transparent url('shadow_form.png') no-repeat scroll 0px bottom; padding-bottom: 17px; }
.log_in .soc_auth p { background: rgb(247, 247, 247) none repeat scroll 0% 0%; margin: 0px; padding: 0px 39px 17px; color: rgb(247, 247, 247); }
.log_in .soc_auth a { text-decoration: none; }
.log_in .soc_auth .shadow-form { background-image: none; }
.popup-box { position: fixed; z-index: 99900; }
#login-popup.popup-box { position: absolute; }
.vote { clear: both; padding: 2px 0px 0px; position: relative; border-top: 1px dotted rgb(204, 204, 204); margin: 10px 0px; }
.vote .post-counter { padding: 25px 40px; border-top: 1px dotted rgb(204, 204, 204); overflow: hidden; }
.post-counter p { font-size: 12px; line-height: 14px; margin: 0px; }
.post-counter .info { color: rgb(153, 153, 153); font-size: 12px; padding: 0px; float: left; line-height: 14px; margin-top: 8px; margin-right: 135px; }
.vote .voices { background: rgb(255, 255, 255) url('bg_voices2.png') no-repeat scroll right 0px; height: 43px; line-height: 43px; padding: 0px 10px 0px 0px; text-align: center; white-space: nowrap; overflow: hidden; float: left; }
.vote .voices span, .vote .voices a, .vote .voices i { color: rgb(153, 153, 153); font-size: 28px; padding: 0px 6px; text-decoration: none; }
.vote .voices i { border-left: 1px dotted rgb(153, 153, 153); border-right: 1px dotted rgb(153, 153, 153); color: rgb(0, 0, 0); font-weight: bold; padding: 0px 10px; width: 77px; display: inline-block; }
.vote .moving { background: rgb(255, 255, 255) url('bg_voices2.png') no-repeat scroll left 0px; float: left; padding: 0px 0px 0px 10px; }
.b-article-text h1, .b-article-text h2, .b-article-text h3, .b-article-text h4, .b-article-text h5, .b-article-text h6 { font-weight: bold; font-size: 22px; line-height: 30px; margin: 0px 0px 25px; }
.readme_h, .readme_v { clear: both; overflow: hidden; margin: 15px auto; }
.readme_h { width: 700px; height: 230px; background: transparent url('readme_h_bg.jpg') no-repeat scroll 0% 0%; }
.readme_h .intro { padding: 10px 25px 5px; font-family: Arial,sans-serif; color: black; font-weight: bold; font-size: 15px; line-height: 20px; margin: 0px 0px 10px; }
.readme_h .content { padding: 9px 2px 3px 25px; }
.readme_v { width: 242px; height: 472px; background: transparent url('readme_v_bg.jpg') no-repeat scroll 0px 0px; margin-right: -2px; }
.b-content .b-center { background: transparent none repeat scroll 0% 0%; }
.b-article-text h2 { font-size: 20px; }
.mmkf::after { background: transparent url('winner.png') no-repeat scroll 0px 0px; content: ""; height: 69px; position: absolute; width: 53px; z-index: 10; margin: -28px 0px 0px -43px; }

div#rdminfrm_32668:hover {  }
div#rdminfrm_32668 table {  }
div#rdminfrm_32668 table td { text-align: left; vertical-align: top; border: medium none; width: 131px; }
div#rdminfrm_32668 div.rdm_title_32668 { width: 115px; }
div#rdminfrm_32668 div.rdm_title_32668 a { font-family: Tahoma; font-weight: normal; font-size: 11px; text-decoration: none; color: rgb(112, 112, 112); }
div#rdminfrm_32668 div.rdm_title_32668 a:hover { font-family: Tahoma; font-weight: normal; font-size: 11px; text-decoration: none; color: rgb(112, 112, 112); }
div#rdminfrm_32668 div.rdm_img_32668 { overflow: hidden; position: relative; margin-right: 10px; margin-bottom: 5px; }
div#rdminfrm_32668 div.rdm_img_32668 img { border: medium none; position: relative; }
.b-footer .b-main ul { overflow: hidden; }
.b-counters { display: block; overflow: hidden; margin-top: 25px; }
.content img { width:auto; height:auto; max-width: 100%; max-height:100%;}
.user-info .icon img { width: 36px; height:36px; }
.b-article-text { width: 620px; }
@media screen and (max-width: 1015px) {

.b-center { width: 960px;}
.b-wrapper { width: 940px;}
.content, #comments { width: 639px;}
.b-article-text { width: 559px; }
.b-sidebar {
    background-color: transparent;
    float: left;
    margin: 0 0 0 20px;
    width: 240px;
}
.copy {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 25px;
    width: 930px;
}
.b-themes { width: 940px;}
.readme_h  { width: 639px;}
}

@media screen and (max-width: 959px) {

.b-center { width: 800px;}
.b-wrapper { width: 780px;}
.content, #comments { width: 519px;}
.b-article-text { width: 439px; }
.b-sidebar {
    background-color: transparent;
    float: left;
    margin: 0 0 0 10px;
    width: 230px;
}
.copy {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 25px;
    width: 750px;
}
.b-themes { width: 780px;}
.readme_h  { width: 519px;}
.b-content .b-main { padding:  15px 10px 10px; }
.b-themes .links {
   display:none;
}
}


@media screen and (max-width: 799px) {

.b-center { width: 640px;}
.b-wrapper { width: 640px; margin:0;}
.content, #comments { width: 620px;}
.b-article-text { width: 540px; }
b-wrapper clear {  margin:0;}
.b-sidebar {
	display:none;
}
.copy {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 25px;
    width: 600px;
}
.readme_h {
   display:none;
}
.b-themes { width: 640px;}
.b-content .b-main { padding:  15px 10px 10px; }
.b-themes .links {
   display:none;
}
.source-panel {
	display:none;
}
}



@media screen and (max-width: 639px) {

.b-center { width: 480px;}
.b-wrapper { width: 480px; margin:0;}
.content, #comments { width: 460px;}
.b-article-text { width: 440px; }
b-wrapper clear {  margin:0;}
.b-sidebar {
	display:none;
}
.copy {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 25px;
    width: 400px;
}
.readme_h {
   display:none;
}
.b-themes { width: 480px;}
.b-content .b-main { padding:  15px 10px 10px; }
.source-panel {
	display:none;
}
.b-article-content { margin: 0 10px 30px; }
.b-head .b-wrapper .b-main { overflow: hidden; }
.b-themes .links {
   display:none;
}
.b-meta {
    border-bottom: 1px dotted rgb(204, 204, 204);
    border-top: 1px dotted rgb(204, 204, 204);
    color: rgb(153, 153, 153);
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 5px;
    text-align: center;
    white-space: nowrap;
}
}
@media screen and (max-width: 479px) {

.b-center { width: 320px;}
.b-wrapper { width: 320px; margin:0;}
.content, #comments { width: 300px;}
.b-article-text { width: 300px; }
b-wrapper clear {  margin:0;}
.b-sidebar {
	display:none;
}
.copy {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 25px;
    width: 250px;
}
.readme_h {
   display:none;
}
.b-themes { width: 320px;}
.b-content .b-main { padding:  15px 7px 10px; }
.source-panel {
	display:none;
}
.b-article-content { margin: 0 0 30px; }
.b-head .b-wrapper .b-main { overflow: hidden; }
.b-themes .links, .b-auth {
   display:none;
}
.b-meta {
    border-bottom: 1px dotted rgb(204, 204, 204);
    border-top: 1px dotted rgb(204, 204, 204);
    color: rgb(153, 153, 153);
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    margin: 0 auto;
    overflow: hidden;
    padding: 8px 10px;
    text-align: center;
    white-space: nowrap;
}
.b-article-content h1 { font-size: 20px; line-height: 26px; }
.b-meta li {
    display: inline;
    background: transparent url(round_red.gif) no-repeat scroll 10px 50%;
    padding-left: 35px;
}
}




















